@page
@model RabbitRegister.Pages.Main.Trimming.GetAllTrimmingModel
@{
    ViewData["Title"] = "Trimmings";
}

<p>
    <a class="btn btn-primary" asp-page="/Main/Trimming/CreateTrimming"> Opret ny klipning </a>
</p>

<h4 style="color:red"> List of Trimmings</h4>
<table class="table table-bordered table-hover table-striped table-opacity" width="100%">
    <thead>
        <tr>
            <th> Klip ID </th>
            <th> Kanin ID  </th>
            <th> Avler ID  </th>
            <th> Dato </th>
            <th> Tid brugt </th>
            <th> Hår Længde på dag 90 </th>
            <th> Uld Densitet </th>
            <th> 1. Sortering </th>
            <th> 2. Sortering </th>
            <th> Overskuds Uld </th>
            <th> Actions </th>
        </tr>
    </thead>
    <tbody>

        @if (Model.trimmings != null)
        {
            @foreach (var item in Model.trimmings)
            {
                <tr>
                    <td> @item.TrimmingId </td>
                    <td> @item.RabbitRegNo </td>
                    <td> @item.BreederRegNo </td>
                    <td> @item.Date </td>
                    <td> @item.TimeUsed </td>
                    <td> @item.HairLengthByDayNinety </td>
                    <td> @item.WoolDensity </td>
                    <td> @item.FirstSortmentWeight </td>
                    <td> @item.SecondSortmentWeight </td>
                    <td> @item.DisposableWoolWeight </td>
                    <td>
                        <a class="btn btn-primary btn-sm" type="button" title="Edit" asp-page="EditTrimming" asp-route-id="@item.TrimmingId"><i class="fa fa-edit"></i></a>
                        <a class="btn btn-danger btn-sm " type="button" title="Delete" asp-page="DeleteTrimming" asp-route-id="@item.TrimmingId"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

