@page
@model RabbitRegister.Pages.Main.Trimming.GetAllTrimmingModel
@{
    ViewData["Title"] = "Trimmings";
}

	<h1 class="font-monospace text-center">Trimmings</h1>
	<div class="container-all">
		<h1></h1>
			<p class="from-group">
        <a class="btn btn-primary text-center" style="background-color:green;margin-left:auto;margin-right:auto;display:block;margin-top:1%" asp-page="/Main/Trimming/CreateTrimming"> Create a new Trimming </a>
			</p>

<table class="table table-bordered table-hover table-striped table-opacity" width="100%">
    <thead>
        <tr>
            <th> Klip ID </th>
            <th> Kanin ID  </th>
            <th> Avler ID  </th>
            <th> Navn  </th>
            <th> Dato </th>
            <th> Tid brugt </th>
            <th> Hår Længde på dag 90 </th>
            <th> Uld Densitet </th>
            <th> 1. Sortering </th>
            <th> 2. Sortering </th>
            <th> Overskuds Uld </th>
            <th> Actions </th>
        </tr>
    </thead>
    <tbody>

        @if (Model.trimmings != null)
        {
            @foreach (var item in Model.trimmings)
            {
                <tr>
                    <td> @item.TrimmingId </td>
                    <td> @item.RabbitRegNo </td>
                    <td> @item.BreederRegNo </td>
                    <td> @item.Name </td>
                    <td> @item.Date </td>
                    <td> @item.TimeUsed </td>
                    <td> @item.HairLengthByDayNinety </td>
                    <td> @item.WoolDensity </td>
                    <td> @item.FirstSortmentWeight </td>
                    <td> @item.SecondSortmentWeight </td>
                    <td> @item.DisposableWoolWeight </td>
                    <td>
                        <a class="btn btn-primary btn-sm" type="button" title="Edit" asp-page="EditTrimming" asp-route-id="@item.TrimmingId"><i class="fa fa-edit"></i></a>
                        <a class="btn btn-danger btn-sm " type="button" title="Delete" asp-page="DeleteTrimming" asp-route-id="@item.TrimmingId"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
</div>
