@page
@model RabbitRegister.Pages.Main.Trimming.GetAllTrimmingModel
@{
    ViewData["Title"] = "Trimmings";
}

<body>
    <form method="post" class="form-inline">
        <div class="input-group mb-3">
            <input asp-for="SearchString" class="form-control mr-1" placeholder="Søg efter navn" />
            <input type="submit" asp-route-Owner="@User.Identity.Name" asp-page-handler="NameSearch" value="Search" class="btn btn-primary" />
        </div>
    </form>
@*    <form method="post" class="form-inline">
        <div class="input-group mb-3">
            <input asp-for="SearchId" class="form-control mr-1" placeholder="Søg efter Kanin ID" />
            <input type="submit" asp-page-handler="RabbitIdSearch" value="Search" class="btn btn-primary" />
        </div>
    </form>*@

    <h1 class="font-monospace text-center">Trimmings</h1>
    <div class="container-all">
        <h1></h1>
        <p class="from-group">
            <a class="btn btn-primary text-center" style="background-color:green;margin-left:auto;margin-right:auto;display:block;margin-top:1%" asp-route-Owner="@User.Identity.Name" asp-page="/Main/Trimming/CreateTrimming"> Create a new Trimming </a>
        </p>

        <table class="table table-bordered table-hover table-striped table-opacity" width="100%">
            <thead>
                <tr>
                    <th>
                        Klip ID
                        <div>
                            <a data-toggle="tooltip" title="Sort By Id" asp-route-Owner="@User.Identity.Name" asp-page-handler="SortById"><i class="fa fa-angle-up"></i></a>
                            <a data-toggle="tooltip" title="Sort By Id Descending" asp-route-Owner="@User.Identity.Name" asp-page-handler="SortByIdDescending"><i class="fa fa-angle-down"></i></a>
                        </div>
                    </th>
                    <th>
                        Kanin ID
@*                        <div>
                            <a data-toggle="tooltip" title="Sort By Id" asp-page-handler="SortByRabbitId"><i class="fa fa-angle-up"></i></a>
                            <a data-toggle="tooltip" title="Sort By Id Descending" asp-page-handler="SortByRabbitIdDescending"><i class="fa fa-angle-down"></i></a>
                        </div>*@
                    </th>
                    <th> Avler ID  </th>
                    <th> Navn  </th>
                    <th>
                        Dato
                        <div>
                            <a data-toggle="tooltip" title="Sort By Date" asp-route-Owner="@User.Identity.Name" asp-page-handler="SortByDate"><i class="fa fa-angle-up"></i></a>
                            <a data-toggle="tooltip" title="Sort By Date Descending" asp-route-Owner="@User.Identity.Name" asp-page-handler="SortByDateDescending"><i class="fa fa-angle-down"></i></a>
                        </div>
                    </th>
                    <th> Tid i min </th>
                    <th> Hår dag 90 </th>
                    <th> Uld tæthed </th>
                    <th> 1. Sortering </th>
                    <th> 2. Sortering </th>
                    <th> Kasseret Uld </th>
                    <th> Actions </th>
                </tr>
            </thead>
            <tbody>

                @if (Model.Trimmings != null)
                {
                    @foreach (var item in Model.Trimmings)
                    {
                        <tr>
                            <td> @item.TrimmingId </td>
                            <td> @item.RabbitRegNo </td>
                            <td> @item.BreederRegNo </td>
                            <td> @item.Name </td>
                            <td> @item.Date.ToString("dd-MM-yyyy") </td>
                            <td> @item.TimeUsed </td>
                            <td> @item.HairLengthByDayNinety </td>
                            <td> @item.WoolDensity </td>
                            <td> @item.FirstSortmentWeight </td>
                            <td> @item.SecondSortmentWeight </td>
                            <td> @item.DisposableWoolWeight </td>
                            <td>
                                <a class="btn btn-primary btn-sm" type="button" title="Edit" asp-route-Owner="@User.Identity.Name" asp-page="EditTrimming" asp-route-id="@item.TrimmingId"><i class="fa fa-edit"></i></a>
                                <a class="btn btn-danger btn-sm " type="button" title="Delete" asp-route-Owner="@User.Identity.Name" asp-page="DeleteTrimming" asp-route-id="@item.TrimmingId"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</body>