@page
@model RabbitRegister.Pages.Main.Product.CreateYarnModel
@{
}

<form method="post">
	 <div class="form-group">
		 <label asp-for="@Model.Yarn.YarnId" class="control-label"></label>
		 <input asp-for="@Model.Yarn.YarnId" class="form-control"/>
		 <span asp-validation-for="@Model.Yarn.YarnId" class="text-danger"></span>
	 </div>
	<div class="form-group">
		<label asp-for="@Model.Yarn.Fiber" class="control-label"></label>
		<input asp-for="@Model.Yarn.Fiber" class="form-control" />
		<span asp-validation-for="@Model.Yarn.Fiber" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="@Model.Yarn.NeedleSize" class="control-label"></label>
		<input asp-for="@Model.Yarn.NeedleSize" class="form-control" />
		<span asp-validation-for="@Model.Yarn.NeedleSize" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="@Model.Yarn.Length" class="control-label"></label>
		<input asp-for="@Model.Yarn.Length" class="form-control" />
		<span asp-validation-for="@Model.Yarn.Length" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="@Model.Yarn.Tension" class="control-label"></label>
		<input asp-for="@Model.Yarn.Tension" class="form-control" />
		<span asp-validation-for="@Model.Yarn.Tension" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="@Model.Yarn.Washing" class="control-label"></label>
		<input asp-for="@Model.Yarn.Washing" class="form-control" />
		<span asp-validation-for="@Model.Yarn.Washing" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="@Model.Yarn.amount" class="control-label"></label>
		<input asp-for="@Model.Yarn.amount" class="form-control" />
		<span asp-validation-for="@Model.Yarn.amount" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="@Model.Yarn.Color" class="control-label"></label>
		<input asp-for="@Model.Yarn.Color" class="form-control" />
		<span asp-validation-for="@Model.Yarn.Color" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="@Model.Yarn.price" class="control-label"></label>
		<input asp-for="@Model.Yarn.price" class="form-control" />
		<span asp-validation-for="@Model.Yarn.price" class="text-danger"></span>
	</div>

	<p>
		<div class="form-group">
			<input type="submit" value="Create" class="btn btn-primary" />
		</div>
	</p>
</form>