@page
@model RabbitRegister.Pages.Main.Product.CreateWoolModel
@{
}

<body>
<div class="create-form">
<form method="post">
    <h1 style="text-align:center">Create Wool</h1>
            <br />            
                <input type="button" value="Tilbage" onclick="history.go(-1)">
            <br />
            <div class="from-group">
        <label asp-for="@Model.Wool.BreederRegNo" class="control-label"></label>
        <input asp-for="@Model.Wool.BreederRegNo" value="@User.Identity.Name" class="form-control" readonly="@true" />
        <span asp-validation-for="@Model.Wool.BreederRegNo" class="text-danger"></span>
    </div>
    <div class="from-group">
        <label asp-for="@Model.Wool.ProductId" class="control-label"></label>
        <input asp-for="@Model.Wool.ProductId" class="form-control" readonly="@(true)" />
    </div>
    <div class="from-group">
        <label asp-for="@Model.Wool.ProductType" class="control-label"></label>
        <input asp-for="@Model.Wool.ProductType" value="Wool" class="form-control" readonly="@(true)"  />
    </div>
    <div class="from-group">
        <label asp-for="@Model.Wool.ProductName" class="control-label"></label>
        <input asp-for="@Model.Wool.ProductName" class="form-control" />
        <span asp-validation-for="@Model.Wool.ProductName" class="text-danger"></span>
    </div>
    <div class="from-group">
        <label asp-for="@Model.Wool.Weight" class="control-label"></label>
        <input asp-for="@Model.Wool.Weight" class="form-control" />
        <span asp-validation-for="@Model.Wool.Weight" class="text-danger"></span>
    </div>
    <div class="from-group">
        <label asp-for="@Model.Wool.Quality" class="control-label"></label>
        <input asp-for="@Model.Wool.Quality" class="form-control" />
        <span asp-validation-for="@Model.Wool.Quality" class="text-danger"></span>
    </div>
    <div class="from-group">
        <label asp-for="@Model.Wool.Color" class="control-label"></label>
        <input asp-for="@Model.Wool.Color" class="form-control" />
        <span asp-validation-for="@Model.Wool.Color" class="text-danger"></span>
    </div>
    <div class="from-group">
        <label asp-for="@Model.Wool.Amount" class="control-label"></label>
        <input asp-for="@Model.Wool.Amount" class="form-control" />
        <span asp-validation-for="@Model.Wool.Amount" class="text-danger"></span>
    </div>
    <div class="from-group">
        <label asp-for="@Model.Wool.Price" class="control-label"></label>
        <input asp-for="@Model.Wool.Price" class="form-control" />
        <span asp-validation-for="@Model.Wool.Price" class="text-danger"></span>
    </div>
    <div class="from-group">
        <label asp-for="@Model.Wool.ImgString" class="control-label"></label>
        <input asp-for="@Model.Wool.ImgString" value="/Images/Products/Wool/" class="form-control" />
        <span asp-validation-for="@Model.Wool.ImgString" class="text-danger"></span>
    </div>

    <p align="center">
        <div class="form-group">
            <input type="submit" style="background-color:green;color:white;margin-left:auto;margin-right:auto;display:block;width:100%;border-radius:8px" value="Create" class="btn text-center" />
            <br />
            <input type="submit" asp-page="/Main/Product/GetAllWool" class="btn text-center" style="background-color:red;color:white;margin-left:auto;margin-right:auto;display:block;width:100%;border-radius:8px" value="Cancel" />
        </div>
    </p>
</form>
</div>
</body>
