@page
@model RabbitRegister.Pages.Main.Product.GetAllYarnModel
@{
}

<h1>Yarn</h1>

<table class="table table-bordered table-hover table-striped table-opacity" width="60%">
	<thead>
		<tr class="btn-secondary active">
			<th><div class="d-flex justify-content-between p-0"><div><h5>Product Id </h5></div></div></th>
			<th><div class="d-flex justify-content-between p-0"><div><h5>Yarn Id </h5></div></div></th>
			<th><div class="d-flex justify-content-between p-0"><div><h5>BreederRegNo </h5></div></div></th>
			<th><div class="d-flex justify-content-between p-0"><div><h5>Product Type </h5></div></div></th>
			<th><div class="d-flex justify-content-between p-0"><div><h5>Product Name </h5></div></div></th>
			<th><div class="d-flex justify-content-between p-0"><div><h5>Fiber </h5></div></div></th>
			<th><div class="d-flex justify-content-between p-0"><div><h5>NeedleSize </h5></div></div></th>
			<th><div class="d-flex justify-content-between p-0"><div><h5>Length </h5></div></div></th>
			<th><div class="d-flex justify-content-between p-0"><div><h5>Tension </h5></div></div></th>
			<th><div class="d-flex justify-content-between p-0"><div><h5>Washing </h5></div></div></th>
			<th><div class="d-flex justify-content-between p-0"><div><h5>Color </h5></div></div></th>
			<th><div class="d-flex justify-content-between p-0"><div><h5>Amout </h5></div></div></th>
			<th><div class="d-flex justify-content-between p-0"><div><h5>Price </h5></div><div>
						<a data-toggle="tooltip" title="Sort By Price" asp-page-handler="SortByPrice"><i class="fa fa-angle-up"></i></a>
						<a data-toggle="tooltip" title="Sort By Price Descending" asp-page-handler="SortByPriceDescending"><i class="fa fa-angle-down"></i></a>
					</div></div></th>
			<th><h5>Action</h5></th>
		</tr>
	</thead>
	<tbody>
		@if (Model.Yarns != null)
		{
			foreach (var yarn in Model.Yarns)
			{
				<tr class="btn-secondary">
					<td>@yarn.ProductId</td>
					<td>@yarn.YarnId</td>
					<td>@yarn.BreederRegNo</td>
					<td>@yarn.ProductType</td>
					<td>@yarn.ProductName</td>
					<td>@yarn.Fiber</td>
					<td>@yarn.NeedleSize</td>
					<td>@yarn.Length</td>
					<td>@yarn.Tension</td>
					<td>@yarn.Washing</td>
					<td>@yarn.Color</td>
					<td>@yarn.Amount</td>
					<td>@yarn.Price</td>
					<td>
						<a class="btn btn-primary btn-sm" type="button" title="Edit" asp-page="EditYarn" asp-route-id="@yarn.YarnId"><i class="fa fa-edit"></i></a>
						<a class="btn btn-danger btn-sm " type="button" title="Delete" asp-page="/Main/Product/DeleteYarn" asp-route-id="@yarn.YarnId"><i class="fa fa-trash"></i></a>
						@*<a class="btn btn-primary btn-sm " type="button" data-toggle="tooltip" data-placement="top" title="Order" asp-page="../Order/OrderItem" asp-route-id="@yarn.YarnId"><i class="fa fa-shopping-cart"></i></a>*@
					</td>
				</tr>
			}
		}
	</tbody>
</table>

<p>
	<a class="btn btn-primary" asp-page="CreateYarn"> Create a new Yarn </a>
</p>