@page
@model RabbitRegister.Pages.Main.Product.GetAllWoolModel
@{
 }

<!-- Product(Wool) Table on page-->
<h1 class="frintfont-monospace text-center">Wool</h1>
    
<body>
	<div class="container">
		<h1></h1>

		<div class="row">
			<div class="col-4"><h5>Search</h5></div>
		</div>

		<div class="row">
			<div class="col-4">
@*				<form method="post" class="form-inline">
					<div class="input-group mb-3">
						<input asp-for="SearchString" class="form-control mr-1" placeholder="Enter search term" />
						<input type="submit" asp-page-handler="NameSearch" value="Search" class="btn btn-primary" />
					</div>
				</form>*@
			</div>

			<div class="col-5">
				<form method="post" class="form-inline">
					<div class="input-group mb-3">
						<div class="input-group-prepend">
						</div>
					</div>
				</form>
			</div>

			<div class="col-2"></div>
		</div>

		<table class="table table-bordered table-hover" width="100%">
			<thead>
				<tr class="@*btn-secondary active*@">
					<th>
						ProductId
					</th>
					<th>
						WoolId
					</th>
					<th>
						ProductName
					</th>
					<th>
						Weight
					</th>
					<th>
						Quality
					</th>
					<th>
						Color
					</th>
					<th>
						BreederRegNo
					</th>
					<th>
						Amount
					</th>
					<th>
						Price
					</th>
					<th>
						Edit | Delete
					</th>
				</tr>
			</thead>
			<tbody>
				@if (Model.Wools != null)
				{
					foreach (var wool in Model.Wools)
					{
						<tr class="@*btn-secondary*@">
							<td>
								@wool.ProductId
							</td>
							<td>
								@wool.WoolId
							</td>
							<td>
								@wool.ProductName
							</td>
							<td>
								@wool.Weight
							</td>
							<td>
								@wool.Quality
							</td>
							<td>
								@wool.Color
							</td>
							<td>
								@wool.BreederRegNo
							</td>
							<td>
								@wool.Amount
							</td>
							<td>
								@wool.Price
							</td>
							<td>
								<a class="btn btn-primary btn-sm" type="button" title="Edit" asp-page="/Main/Product/EditWool" asp-route-id="@wool.WoolId"><i class="fa fa-edit"></i></a>
								<a class="btn btn-danger btn-sm " type="button" title="Delete" asp-page="/Main/Product/DeleteWool" asp-route-id="@wool.WoolId"><i class="fa fa-trash"></i></a>
							</td>
						</tr>
					}
				}
			</tbody>
		</table>

		<p>
		<a class="btn btn-primary" asp-page="/Main/Product/CreateWool"> Create a new Wool Product </a>
		</p>

	</div>
</body>