@page
@model RabbitRegister.Pages.Main.Product.StoreModel
@{
}


<!--  Shopping Basket -->
<div class="d-flex flex-row-reverse bd-highlight">
    <div class="p-2 bd-highlight">
        <a class="btn btn-success" asp-page="Basket">Shopping Basket</a>
    </div>
</div>


<!--  Product tabel on the website -->
<h1 class="font-monospace text-center">Products</h1>

    <body>
    <!--  Wool Info, price, name... -->
    <div>
        <table class="table table-bordered table-hover table-striped">
            <tr>
                <td></td>
            </tr>
        </table>

        <div style="width: 100%" class="d-flex flex-wrap justify-content-center">
            @if (@Model.Wools != null)
            {
            foreach (var Wool in Model.Wools)
            {
              <div class="p-2 text-center container rounded border border-dark" style="max-width: 25%; margin-left: 50px; background-color: white;" >
                        <p class="font-monospace"> Name: @Wool.ProductName </p>
                    <img src="@Wool.ImgString" style="max-width: 200px; height: auto">
                        <p class="font-monospace"> Price: @Wool.Price kr </p>
                        <p class="font-monospace"> Stock: @Wool.Amount</p>

                        @{

                         <a class="btn btn-primary btn-sm" type="button" title="Edit" asp-page="/Main/Product/EditWool" asp-route-id="@Wool.ProductId"><i class="fa fa-edit"></i></a>
                         <a class="btn btn-danger btn-sm" type="button" title="Delete" asp-page="/Main/Product/DeleteWool" asp-route-id="@Wool.ProductId"><i class="fa fa-trash"></i></a>
                         <a class="btn btn-success" asp-page="/ShoppingBasket" asp-route-id="@Wool.ProductId" asp-page-handler="AddToBasket"> <i class="fa fa-cart-plus"></i> </a>

                    }
              </div>
            }

            }
            @if (Model.Yarns != null)
            {
                foreach (var Yarn in Model.Yarns)
                {
                    <div class="p-2 text-center container rounded border-dark" style="max-width: 25%; margin-left: 50px; background-color: white;">
                        <p class="font-monospace"> Name: @Yarn.ProductName </p>
                        @*<img src="@Yarn.ImgString" style="max-width: 200px; height: auto">*@
                        <p class="font-monospace"> Price: @Yarn.Price kr </p>
                        <p class="font-monospace"> Stock: @Yarn.Amount</p>

                        @{

                            <a class="btn btn-primary btn-sm" type="button" title="Edit" asp-page="/Main/Product/EditWool" asp-route-id="@Yarn.ProductId"><i class="fa fa-edit"></i></a>
                            <a class="btn btn-danger btn-sm" type="button" title="Delete" asp-page="/Main/Product/DeleteWool" asp-route-id="@Yarn.ProductId"><i class="fa fa-trash"></i></a>
                            <a class="btn btn-success" asp-page="/ShoppingBasket" asp-route-id="@Yarn.ProductId" asp-page-handler="AddToBasket"> <i class="fa fa-cart-plus"></i> </a>
                        }
                    </div>
                }
            }
        </div>
    </div>
      
      <br />

     <table class="table table-bordered table-hover table-striped">
        <tr>
            <td></td>     
        </tr>
    </table>



    <br />
    <br />




    </body>