@page
@model RabbitRegister.Pages.Main.Product.StoreModel
@{
}


<!--  Shopping Basket -->
<div class="d-flex flex-row-reverse bd-highlight">
    <div class="p-2 bd-highlight">
        <a class="btn btn-success" asp-page="Basket">Shopping Basket</a>
    </div>
</div>


<!--  Product tabel on the website -->
<h1 class="font-monospace text-center">Products</h1>

<body>
    <!--  Wool Info, price, name... -->
    <div>
        <div style="width: 100%" class="d-flex flex-wrap flex-row justify-content-center">
            @if (@Model.Wools != null)
            {
                foreach (var Wool in Model.Wools)
                {
                    <a class="click-card flex-item" asp-page="/Main/Product/ProductInfo" asp-route-id="@Wool.ProductId">
                        <div class="p-2-card text-center container rounded border border-dark" style="width: 100%;">
                            <img src="@Wool.ImgString" style="max-width: 100%; height: auto; margin-top: 10px; margin-bottom: 10px;">
                            <p class="text-card font-monospace"> Name: @Wool.ProductName </p>
                            <p class="text-card font-monospace"> Price: @Wool.Price kr </p>
                            <p class="text-card font-monospace"> Stock: @Wool.Amount</p>
                            <div class="d-flex flex-wrap justify-content-center" style="margin-bottom: 5px; margin-top: 0px;">
                                <a class="btn-card btn-primary btn-sm" type="button" title="Edit" asp-page="/Main/Product/EditWool" asp-route-id="@Wool.ProductId"><i class="fa fa-edit"></i></a>
                                <a class="btn-card btn-danger btn-sm" type="button" title="Delete" asp-page="/Main/Product/DeleteWool" asp-route-id="@Wool.ProductId"><i class="fa fa-trash"></i></a>
                                <a class="btn-card btn-success btn-sm" asp-page="/ShoppingBasket" asp-route-id="@Wool.ProductId" asp-page-handler="AddToBasket"> <i class="fa fa-cart-plus"></i> </a>
                            </div>
                        </div>
                    </a>
                }

            }
            @if (Model.Yarns != null)
            {
                foreach (var Yarn in Model.Yarns)
                {
                    <a class="click-card flex-item" asp-page="/Main/Product/ProductInfo" asp-route-id="@Yarn.ProductId">
                        <div class="p-2-card text-center container rounded border-dark">
                            <img src="@Yarn.ImgString" style="max-width: 100%; height: auto">
                            <p class="font-monospace"> Name: @Yarn.ProductName </p>
                            <p class="font-monospace"> Price: @Yarn.Price kr </p>
                            <p class="font-monospace"> Stock: @Yarn.Amount</p>
                            <div class="card-buttons d-flex flex-wrap justify-content-center" style="margin-bottom: 5px; margin-top: 0px;">
                                <a class="btn-card btn-primary btn-sm" type="button" title="Edit" asp-page="/Main/Product/EditWool" asp-route-id="@Yarn.ProductId"><i class="fa fa-edit"></i></a>
                                <a class="btn-card btn-danger btn-sm" type="button" title="Delete" asp-page="/Main/Product/DeleteWool" asp-route-id="@Yarn.ProductId"><i class="fa fa-trash"></i></a>
                                <a class="btn-card btn-success btn-sm" asp-page="/ShoppingBasket" asp-route-id="@Yarn.ProductId" asp-page-handler="AddToBasket"> <i class="fa fa-cart-plus"></i> </a>
                            </div>
                        </div>
                    </a>
                }
            }

        </div>
    </div>

    <br />

    <br />
    <br />




</body>