@using RabbitRegister.Pages.Main.LogIn
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RabbitRegister</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RabbitRegister.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="/Images/RabbitReg.ico" type="image/x-icon">
</head>
<body>
    <header style="background-color: white;">
        <div class="container" style="display: flex; justify-content: center;">
            <a class="navbar-brand" style="text-decoration: none; margin-top: 1%; display: flex; align-items: center;" asp-area="" asp-page="/Index">
                <img src="~/Images/RabbitReg.ico" alt="Icon" style="max-width: 100px; max-height: 100px;">
                <h1 class="text-Brand" style="margin-left: 10px; margin-top: 70px">RabbitRegister</h1>
            </a>
        </div>


        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav flex-grow-1 d-flex justify-content-center">

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Hjem</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link text-dark dropdown-toggle" href="#" id="ShopDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-bs-auto-close="false">
                                Shop
                            </a>
                            <div class="dropdown-menu" aria-labelledby="ShopDropdown">
                                <a class="dropdown-item" asp-area="" asp-page="/Main/Store/Store">Produkter</a>
@*                                <a class="dropdown-item" asp-area="" asp-page="/Main/Rabbit/RabbitStore">Salgskaniner</a> *@                      
                            </div>
                        </li>
                        @{
                            if (Context.User.Identity.Name != null)
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link text-dark dropdown-toggle" href="#" id="breederDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-bs-auto-close="false">
                                        Register
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="breederDropdown">
                                        <a class="dropdown-item" asp-area="" asp-page="/Main/Rabbit/GetAllRabbits" asp-route-breederRegNo="@Context.User.Identity.Name">Mine Kaniner</a>
                                        <a class="dropdown-item" asp-area="" asp-page="/Main/Trimming/GetAllTrimming" asp-route-Owner="@Context.User.Identity.Name">Klipninger</a>
                                        <div class="dropdown">
                                            <a class="dropdown-item text-dark dropdown-toggle" href="#" id="productsDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Mine Produkter
                                            </a>
                                            <div class="dropdown-menu" aria-labelledby="productsDropdown">
                                                <a class="dropdown-item" asp-area="" asp-page="/Main/Product/GetAllWool" asp-route-breederRegNo="@Context.User.Identity.Name">Uld</a>
                                                <a class="dropdown-item" asp-area="" asp-page="/Main/Product/GetAllYarn" asp-route-breederRegNo="@Context.User.Identity.Name">Garn</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                            }
                        }
                        @{
                            if ((await AuthorizationService.AuthorizeAsync(User, null, "AdminOnly")).Succeeded)
                            {

                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Main/Breeder/GetAllBreeders">Avlere</a>
                                </li>
                            }
                        }
                    </ul>
                </div>


                <div style="  display: flex; justify-content: space-between; align-items: center;">
                    <div>
                        <a class="btn btn-success fa fa-shopping-basket" asp-page="/Main/Store/Basket"></a>
                        <div>
                            @if (TempData.ContainsKey("Notification"))
                            {
                                <p>@TempData["Notification"]</p>
                            }
                        </div>

                </div>
                <div>
                    <ul class="navbar-nav">
                        @{
                            if (Context.User.Identity.Name == null)
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Main/LogIn/LogInPage">Login</a>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Breeder: @Context.User.Identity.Name
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" asp-area="" asp-page="/Main/LogIn/LogOutPage">Logout</a>
                                    </div>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </nav>

    </header>
    <div class="layer">
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - RabbitRegister - <a asp-area="" asp-page="/Privacy">Kontakt</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>