@using RabbitRegister.Pages.Main.LogIn
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RabbitRegister</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RabbitRegister.styles.css" asp-append-version="true" />
    <!-- FONT AWESOME STYLESHEET -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- W3 SCHOOLS STYLESHEET -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <!-- BROWSER TAB IKON -->
    <link rel="icon" href="/Images/RabbitReg.ico" type="image/x-icon">
</head>


<body>
    <header>
    <!-- TOP NAV SETUP -->
    <div class="w3-top">

            <!-- SHOPs ULD&GARN + KANINER -->
        <div class="w3-bar bg-dark w3-border-bottom">
            <a href="/Index" class="w3-bar-item w3-text-light-grey w3-button w3-margin-left w3-mobile w3-border-right">HJEM</a>
            <a href="/Main/Store/Store" class="w3-bar-item w3-text-light-grey w3-button w3-mobile w3-border-right">ULD & GARN</a>
            <a href="/Main/Rabbit/RabbitStore" class="w3-bar-item w3-text-light-grey w3-button w3-mobile w3-border-right">KANINER</a>

            <!-- AVLER MENU -->
            @{
                if (Context.User.Identity.Name != null)
                {
                    <div class="w3-dropdown-hover w3-mobile">
                        <button class="w3-button w3-text-light-grey w3-border-right">REGISTER <i class="fa fa-caret-down"></i></button>
                        <div class="w3-dropdown-content w3-bar-block w3-dark-grey">
                            <a asp-area="" asp-page="/Main/Rabbit/GetAllRabbits" asp-route-breederRegNo="@Context.User.Identity.Name" class="w3-bar-item w3-text-light-grey w3-button w3-mobile">MINE KANINER</a>
                            <a asp-area="" asp-page="/Main/Trimming/GetAllTrimming" asp-route-Owner="@Context.User.Identity.Name" class="w3-bar-item w3-text-light-grey w3-button w3-mobile">MINE KLIPNINGER</a>
                            <a asp-area="" asp-page="/Main/Product/GetAllWool" asp-route-breederRegNo="@Context.User.Identity.Name" class="w3-bar-item w3-text-light-grey w3-button w3-mobile">MIT ULD</a>
                            <a asp-area="" asp-page="/Main/Product/GetAllYarn" asp-route-breederRegNo="@Context.User.Identity.Name" class="w3-bar-item w3-text-light-grey w3-button w3-mobile">MIT GARN</a>
                        </div>
                    </div>
                }
            }

            <!-- LOGIN / LOGOUT / UPDATE -->
            @{
                if (Context.User.Identity.Name == null)
                {
                    <a asp-area="" asp-page="/Main/Rabbit/GetAllRabbits" class="w3-bar-item w3-text-light-grey w3-button w3-margin-right w3-mobile w3-right w3-border-left">LOGIN <i class="fa fa-user-circle" style="font-size:24px; color:dimgray"></i></a>
                }
                else
                {
                    <div class="w3-dropdown-hover w3-mobile w3-right">
                        <button class="w3-button w3-margin-right w3-text-light-grey w3-border-left">
                            AVLER-ID: @Context.User.Identity.Name <i class="fa fa-user-circle-o" style="font-size:24px; color:steelblue"></i>
                        </button>
                        <div class="w3-dropdown-content w3-bar-block w3-dark-grey">
                            <a asp-area="" asp-route-id="@Context.User.Identity.Name" asp-page="/Main/Breeder/EditBreeder" class="w3-bar-item w3-text-light-grey w3-button w3-mobile">UPDATE </a>
                            <a asp-area="" asp-page="/Main/LogIn/LogOutPage" class="w3-bar-item w3-text-light-grey w3-button w3-mobile">LOGOUT </a>
                        </div>
                    </div>
                }
            }

            <!-- KURV -->
            <a asp-page="/Main/Store/Basket" class="w3-bar-item w3-text-light-grey w3-button w3-margin-right w3-mobile w3-right"> <i class="fa fa-shopping-bag" style="font-size:24px; color:dimgray">  </i></a>
            <div>
                @if (TempData.ContainsKey("Notification"))
                {
                    // Display notification
                    <p>@TempData["Notification"]</p>
                }
            </div>


            <!-- ADMIN KNAP -->
            @{
                if ((await AuthorizationService.AuthorizeAsync(User, null, "AdminOnly")).Succeeded)
                {
                    <a asp-area="" asp-page="/Main/Breeder/GetAllBreeders" class="w3-bar-item w3-text-light-grey w3-button w3-margin-left w3-mobile w3-right w3-border-left">BRUGERE </a>
                }
            }

        </div>
    </div>
    </header>

    @*<header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark border-bottom box-shadow mb-3">
            <div class="container">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav flex-grow-1 d-flex justify-content-center">

                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-page="/Index">Hjem</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link text-light dropdown-toggle" href="#" id="ShopDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-bs-auto-close="false">
                                Shop
                            </a>
                            <div class="dropdown-menu" aria-labelledby="ShopDropdown">
                                <a class="dropdown-item" asp-area="" asp-page="/Main/Store/Store">Produkter</a>
                                <a class="dropdown-item" asp-area="" asp-page="/Main/Rabbit/RabbitStore">Salgskaniner</a>                    
                            </div>
                        </li>

                        @{
                            if (Context.User.Identity.Name != null)
                            {
                                // Dropdown menu for registered users
                                <li class="nav-item dropdown">
                                    <a class="nav-link text-light dropdown-toggle" href="#" id="breederDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-bs-auto-close="false">
                                        Register
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="breederDropdown">
                                        <a class="dropdown-item" asp-area="" asp-page="/Main/Rabbit/GetAllRabbits" asp-route-breederRegNo="@Context.User.Identity.Name">Mine Kaniner</a>
                                        <a class="dropdown-item" asp-area="" asp-page="/Main/Trimming/GetAllTrimming" asp-route-Owner="@Context.User.Identity.Name">Klipninger</a>
                                        <div class="dropdown">
                                            <a class="dropdown-item text-light dropdown-toggle" href="#" id="productsDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Mine Produkter
                                            </a>
                                            <div class="dropdown-menu" aria-labelledby="productsDropdown">
                                                <a class="dropdown-item" asp-area="" asp-page="/Main/Product/GetAllWool" asp-route-breederRegNo="@Context.User.Identity.Name">Uld</a>
                                                <a class="dropdown-item" asp-area="" asp-page="/Main/Product/GetAllYarn" asp-route-breederRegNo="@Context.User.Identity.Name">Garn</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            }
                        }

                        @{
                            if ((await AuthorizationService.AuthorizeAsync(User, null, "AdminOnly")).Succeeded)
                            {
                                // Menu item for admins
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-area="" asp-page="/Main/Breeder/GetAllBreeders">Avlere</a>
                                </li>
                            }
                        }
                    </ul>
                </div>

                <div style="  display: flex; justify-content: space-between; align-items: center;">
                    <div>
                        <a class="btn btn-success fa fa-shopping-basket" asp-page="/Main/Store/Basket"></a>
                        <div>
                            @if (TempData.ContainsKey("Notification"))
                            {
                                // Display notification
                                <p>@TempData["Notification"]</p>
                            }
                        </div>
                    </div>

                    <div>
                        <ul class="navbar-nav">
                            @{
                                if (Context.User.Identity.Name == null)
                                {
                                    // Display login option
                                    <li class="nav-item">
                                        <a class="nav-link text-light" asp-area="" asp-page="/Main/LogIn/LogInPage">Login</a>
                                    </li>
                                }
                                else
                                {
                                // Dropdown menu for logged-in users
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Avler: @Context.User.Identity.Name
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <a class="dropdown-item" asp-area="" asp-route-id="@Context.User.Identity.Name" asp-page="/Main/Breeder/EditBreeder">Opdater Oplysninger</a>
                                            <a class="dropdown-item" asp-area="" asp-page="/Main/LogIn/LogOutPage">Log ud</a>
                                        </div>
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>*@

    <div class="layer">
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>

    <footer class="border-top footer text-muted bg-dark">
        <div class="container">
            &copy; 2023 - RabbitRegister - <a asp-area="" asp-page="/Privacy">Kontakt</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>