@using RabbitRegister.Pages.Main.LogIn
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RabbitRegister</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RabbitRegister.styles.css" asp-append-version="true" />

    <!-- FONT AWESOME STYLESHEET -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- W3 BLACK THEME -->
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
    <!-- W3 SCHOOLS STYLESHEET -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <!-- BROWSER TAB IKON -->
    <link rel="icon" href="/Images/RabbitReg.ico" type="image/x-icon">
</head>

<body class="w3-auto">

        <!-- NAVBAR SETUP -->
        <div class="w3-top w3-auto w3-theme-l1 w3-padding w3-round-xxlarge w3-card-2">
            <div class="w3-col m2">
                <!-- MENU -->
                <a class="w3-bar-item w3-button w3-right w3-hide-large w3-hover-white w3-large w3-round-xxlarge w3-theme-l1" href="javascript:void(0)" onclick="w3_open()"><i class="fa fa-bars"></i></a>
                <a href="/Index" class="w3-bar-item w3-text-light-grey w3-button w3-round-xxlarge">HJEM</a>
            </div>
            <a href="/Main/Store/Store" class="w3-bar-item w3-text-light-grey w3-button w3-round-xxlarge">ULD & GARN</a>
            <a href="/Main/Rabbit/RabbitStore" class="w3-bar-item w3-text-light-grey w3-button w3-round-xxlarge">KANINER</a>

            <!-- AVLER MENU -->
            @{
                if (Context.User.Identity.Name != null)
                {
                    <div class="w3-dropdown-hover">
                        <button class="w3-bar-item w3-button w3-round-xxlarge w3-text-light-grey">REGISTER <i class="fa fa-caret-down"></i></button>
                        <div class="w3-dropdown-content w3-bar-block w3-dark-grey">
                            <a asp-area="" asp-page="/Main/Rabbit/GetAllRabbits" asp-route-breederRegNo="@Context.User.Identity.Name" class="w3-bar-item w3-text-light-grey w3-button">MINE KANINER</a>
                            <a asp-area="" asp-page="/Main/Trimming/GetAllTrimming" asp-route-Owner="@Context.User.Identity.Name" class="w3-bar-item w3-text-light-grey w3-button">MINE KLIPNINGER</a>
                            <a asp-area="" asp-page="/Main/Product/GetAllWool" asp-route-breederRegNo="@Context.User.Identity.Name" class="w3-bar-item w3-text-light-grey w3-button">MIT ULD</a>
                            <a asp-area="" asp-page="/Main/Product/GetAllYarn" asp-route-breederRegNo="@Context.User.Identity.Name" class="w3-bar-item w3-text-light-grey w3-button">MIT GARN</a>
                        </div>
                    </div>
                }
            }

            <!-- LOGIN / LOGOUT / UPDATE -->
            @{
                if (Context.User.Identity.Name == null)
                {
                    <a asp-area="" asp-page="/Main/LogIn/LogInPage" class="w3-bar-item w3-text-light-grey w3-button w3-round-xxlarge w3-right"> <i class="fa fa-user-circle w3-xlarge" style="color:dimgray"> </i> LOGIN</a>
                }

                //if (Context.User.Identity.Name == null)
                //{
                //    //<button onclick="loadloginform()" class="w3-bar-item w3-text-light-grey w3-button w3-round-xxlarge w3-right">
                //    //    <i class="fa fa-user-circle w3-xlarge" style="color:dimgray"></i> login
                //    //</button>

                //    <button onclick="document.getElementById('loginModal').style.display='block'" class="w3-bar-item w3-text-light-grey w3-button w3-round-xxlarge w3-right"> <i class="fa fa-user-circle w3-xlarge" style="color:dimgray"> </i> LOGIN </button>

                //    <div id="loginModal" class="w3-modal">
                //        <div class="w3-modal-content w3-card-4 w3-animate-top" style="max-width:600px">

                //            <div class="w3-center">
                //                <br>
                //                <span onclick="document.getElementById('loginModal').style.display='none'" class="w3-button w3-xlarge w3-hover-red w3-display-topright" title="Close Modal">&times;</span>

                //                <!-- <img src="img_avatar4.png" alt="Avatar" style="width:30%" class="w3-circle w3-margin-top"> -->
                //            </div>

                //            <div id="loginFormContainer">
                //                <!-- AJAX login form will be loaded here -->
                //            </div>

                //            <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
                //                <button onclick="document.getElementById('loginModal').style.display='none'" type="button" class="w3-button w3-red">Cancel</button>
                //                <span class="w3-right w3-padding w3-hide-small">Forgot <a href="#">password?</a></span>
                //            </div>
                //        </div>
                //    </div>
                //}

                else
                {
                    <div class="w3-dropdown-hover w3-right">
                        <button class="w3-button w3-round-xxlarge w3-text-light-grey">
                            <i class="fa fa-user-circle w3-xlarge" style="color:steelblue"></i>
                            ID: @Context.User.Identity.Name
                        </button>
                        <div class="w3-dropdown-content w3-bar-block w3-dark-grey">
                            <a asp-area="" asp-route-id="@Context.User.Identity.Name" asp-page="/Main/Breeder/EditBreeder" class="w3-bar-item w3-text-light-grey w3-button">UPDATE </a>
                            <a asp-area="" asp-page="/Main/LogIn/LogOutPage" class="w3-bar-item w3-text-light-grey w3-button">LOGOUT </a>
                        </div>
                    </div>
                }
            }

            <!-- ADMIN KNAP -->
            @{
                if ((await AuthorizationService.AuthorizeAsync(User, null, "AdminOnly")).Succeeded)
                {
                    <a asp-area="" asp-page="/Main/Breeder/GetAllBreeders" class="w3-bar-item w3-text-light-grey w3-button w3-round-xxlarge w3-right">BRUGERE  </a>
                }
            }

            <!-- KURV -->
            <a asp-page="/Main/Store/Basket" class="w3-bar-item w3-text-light-grey w3-button w3-round-xxlarge w3-margin-right w3-right"> <i class="fa fa-shopping-bag" style="font-size:24px; color:dimgray"> </i></a>
            <div>
                @if (TempData.ContainsKey("Notification"))
                {
                    // Display notification
                    <p>@TempData["Notification"]</p>
                }
            </div>
        </div>
    </div>

        <div class="w3-layer">
            <div class="w3-container">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
        </div>

    <footer id="myFooter">
        <div class="w3-container w3-round w3-theme-l1 w3-border-top w3-padding-16">
            <h2>Footer</h2>

            <div class="w3-container w3-stretch w3-theme-l2">
                <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
                &copy; 2023 - RabbitRegister - <a asp-area="" asp-page="/Privacy">Kontakt</a>
            </div>
        </div>
    </footer>

    <script>
        // Get the Sidebar
        var mySidebar = document.getElementById("mySidebar");

        // Get the DIV with overlay effect
        var overlayBg = document.getElementById("myOverlay");

        // Toggle between showing and hiding the sidebar, and add overlay effect
        function w3_open() {
            if (mySidebar.style.display === 'block') {
                mySidebar.style.display = 'none';
                overlayBg.style.display = "none";
            } else {
                mySidebar.style.display = 'block';
                overlayBg.style.display = "block";
            }
        }

        // Close the sidebar with the close button
        function w3_close() {
            mySidebar.style.display = "none";
            overlayBg.style.display = "none";
        }


        async function loadLoginForm() {
            try {
                const response = await fetch('/Main/LogIn/LogInPage', { method: 'GET' });
                if (response.ok) {
                    const content = await response.text();
                    document.getElementById('loginFormContainer').innerHTML = content;
                } else {
                    console.error('Failed to load content:', response.statusText);
                }
            } catch (error) {
                console.error('An error occurred:', error);
            }
        }
    </script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>