@page
@model RabbitRegister.Pages.Main.Rabbit.DeleteRabbitModel
@{
}

<h1>Delete Rabbit</h1>

<h3>Are you sure you want to delete the selected Rabbit?</h3>
<div>
    <h4>Deleting...</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rabbit.RabbitRegNo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rabbit.RabbitRegNo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rabbit.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rabbit.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rabbit.Race)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rabbit.Race)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rabbit.DeadOrAlive)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rabbit.DeadOrAlive)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Rabbit.RabbitRegNo" />
        <button type="submit" class="btn btn-danger">Yes</button>
        <a class="btn btn-primary" asp-page="/Main/Rabbit/GetAllRabbits">No</a>
    </form>
</div>