@page
@model RabbitRegister.Pages.Main.Rabbit.GetAllRabbitsModel
@{
}
<html>
<head>
    <!-- Styling reference -->
    @*<link rel="stylesheet" href="/css/rabbitSite.css" />*@
    <link rel="stylesheet" href="/css/site.css" />
</head>
<body class="w3-auto">


    <!-- Sidebar -->
    <nav class="w3-sidebar w3-round-large w3-bar-block w3-border w3-collapse w3-theme-l5" id="mySidebar">
        <a href="javascript:void(0)" onclick="w3_close()" class="w3-right w3-xlarge w3-padding-large w3-hover-black w3-hide-large" title="Close Menu">
            <i class="fa fa-remove"></i>
        </a>
        <h4 class="w3-bar-item"><b>Filtre</b></h4>
        <a class="w3-bar-item w3-button w3-hover-dark-gray" href="/Main/Rabbit/GetAllRabbits?breederRegNo=@User.Identity.Name">Nuværende besætning</a>
        <a class="w3-bar-item w3-button w3-hover-dark-gray" href="/Main/Rabbit/GetAllRabbits?breederRegNo=@User.Identity.Name&action=NotOwnedRabbitsWithMyBreederRegNo">Kaniner uden for min stald</a>
        <a class="w3-bar-item w3-button w3-hover-dark-gray" href="/Main/Rabbit/GetAllRabbits?breederRegNo=@User.Identity.Name&action=OwnedDeadRabbits">Ane-kaniner</a>
        <a class="w3-bar-item w3-button w3-hover-dark-gray" href="/Main/Rabbit/GetAllRabbits?breederRegNo=@User.Identity.Name&action=AllRabbitsWithConnectionsToMe">Fulde register</a>
        <br></br>
    </nav>

    <!-- Overlay effect when opening sidebar on small screens -->
    <div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

    <!-- Main content: shift it to the right by 280 pixels when the sidebar is visible -->
    <div class="w3-main" style="margin-left:280px">

        <br>
        </br>
        </br>

        <h2 class="w3-center">Mine Kaniner:</h2>

        <!-- CREATE KNAPPER -->
        <div class="d-flex justify-content-between">
            <div class="d-flex flex-row">
                <a class="btn btn-outline-green" asp-page="CreateRabbit">Opret Kanin</a>
                <a class="btn btn-outline-green" asp-route-Owner="@User.Identity.Name" asp-page="/Main/Trimming/CreateTrimming"> Opret Klip</a>
            </div>
        </div>

        <br />
        <br />

        <!-- W3 HTML & CSS, CARD SETUP -->
        <div style="width: 100%" class="d-flex flex-wrap flex-row justify-content-center">
            @if (@Model.Rabbits != null)
            {
                foreach (var Rabbit in Model.Rabbits)
                {
                    <a class="click-card flex-item" asp-page="/Main/Rabbit/RabbitProfile" asp-route-id="@Rabbit.RabbitRegNo" asp-route-breederRegNo="@Rabbit.BreederRegNo">

                        <div class="card">
                            @if (Rabbit.ImageString == "/Images/Rabbits/" || Rabbit.ImageString == null)
                            {
                                <img class="card-image" src="\Images\NoImage.jpg">
                            }
                            else
                            {
                                <img class="card-image" src="@Rabbit.ImageString">
                            }
                            <div class="container">
                                <h4><b>@Rabbit.Name</b></h4>
                                <p>Left-ID: @Rabbit.RabbitRegNo Right-ID: @Rabbit.BreederRegNo </p>

                                <a class="btn-card btn-primary btn-sm mr-1" type="button" title="Edit" asp-page="/Main/Rabbit/EditRabbit" asp-route-id="@Rabbit.RabbitRegNo" asp-route-breederRegNo="@Rabbit.BreederRegNo">
                                    <i class="fa fa-edit"></i>
                                </a>
                                <a class="btn-card btn-danger btn-sm" type="button" title="Delete" asp-page="/Main/Rabbit/DeleteRabbit" asp-route-id="@Rabbit.RabbitRegNo" asp-route-breederRegNo="@Rabbit.BreederRegNo">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </div>
                        </div>
                    </a>
                }
            }
        </div>
    </div>
    </br>
    </br>
    </br>

</body>
</html>