@page
@model RabbitRegister.Pages.Main.Rabbit.GetAllRabbitsModel
@{
}
<link rel="stylesheet" href="/css/rabbitSite.css" />


<br />

<h2 class="text-center">Mine Kaniner:</h2>

<br />

<p class="text-center">Kaniner i eller uden for min stald:</p>

<ul class="nav nav-pills">
    <li class="nav-item">
        <a class="nav-link active" href="/Main/Rabbit/GetAllRabbits?breederRegNo=@User.Identity.Name">Nuværende besætning</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Main/Rabbit/GetAllRabbits?breederRegNo=@User.Identity.Name&action=NotOwnedRabbitsWithMyBreederRegNo">Kaniner uden for min stald</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Main/Rabbit/GetAllRabbits?breederRegNo=@User.Identity.Name&action=OwnedDeadRabbits">Ave-kaniner</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Main/Rabbit/GetAllRabbits?breederRegNo=@User.Identity.Name&action=AllRabbitsWithConnectionsToMe">Fulde register</a>
    </li>

</ul>

<br />


<p>
    <a class="btn btn-primary" asp-page="CreateRabbit"> Create new Rabbit </a>
</p>

<style>
    .card-image {
        width: 100%;
        height: 230px;
        object-fit: cover;
    }
</style>


<body>
    <div>
        <div style="width: 100%" class="d-flex flex-wrap flex-row justify-content-center">
            @if (@Model.Rabbits != null)
            {
                foreach (var Rabbit in Model.Rabbits)
                {
                    <a class="click-card flex-item" asp-page="/Main/Rabbit/RabbitProfile" asp-route-id="@Rabbit.RabbitRegNo">
                        <div class="p-2-card text-center container rounded border border-dark" style="width: 100%;">
                            <div class="d-flex flex-row">
                                <div>
                                    @if (Rabbit.ImageString == "/Images/Rabbits/" || Rabbit.ImageString == null)
                                    {
                                        <img class="card-image" src="\Images\MissingImg.jpg">
                                    }
                                    else
                                    {
                                        <img class="card-image" src="@Rabbit.ImageString">
                                    }
                                </div>
                                <table class="table table-opacity">
                                    <tr>
                                        <th>Ejer:</th>
                                        <td>@Rabbit.Owner</td>
                                    </tr>
                                    <tr>
                                        <th>Kanin ID:</th>
                                        <td>@Rabbit.RabbitRegNo</td>
                                    </tr>
                                    <tr>
                                        <th>Avler ID:</th>
                                        <td>@Rabbit.BreederRegNo</td>
                                    </tr>
                                    <tr>
                                        <th>Navn:</th>
                                        <td>@Rabbit.Name</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="d-flex flex-row justify-content-end" style="margin-bottom: 5px; margin-top: 0px;">
                                <a class="btn-card btn-primary btn-sm mr-1" type="button" title="Edit" asp-page="/Main/Rabbit/EditRabbit" asp-route-id="@Rabbit.RabbitRegNo"><i class="fa fa-edit"></i></a>
                                <a class="btn-card btn-danger btn-sm" type="button" title="Delete" asp-page="/Main/Rabbit/DeleteRabbit" asp-route-id="@Rabbit.RabbitRegNo"><i class="fa fa-trash"></i></a>
                            </div>
                        </div>
                    </a>
                }
            }
        </div>
    </div>
</body>