@page
@model RabbitRegister.Pages.Main.Rabbit.RabbitProfileModel
@{
}

<h2>Rabbit Profile:</h2>
<body>
    <table style="width:100%">
        <tr>
            <th>RabbitRegNo:</th>
            <td>@Model.Rabbit?.RabbitRegNo</td>
        </tr>
        @*<tr>
            <th>Name:</th>
            <td>@Model.Rabbit?.BreederRegNo</td>
        </tr>*@
        <tr>
            <th>Navn:</th>
            <td>@Model.Rabbit?.Name</td>
        </tr>
        <tr>
            <th>Race:</th>
            <td>@Model.Rabbit?.Race</td>
        </tr>
        <tr>
            <th>Farve:</th>
            <td>@Model.Rabbit?.Color</td>
        </tr>
        <tr>
            <th>Køn:</th>
            <td>@Model.Rabbit?.Sex</td>
        </tr>
        <tr>
            <th>Født:</th>
            <td>@Model.Rabbit?.DateOfBirth</td>
        </tr>
        <tr>
            <th>Vægt:</th>
            <td>@Model.Rabbit?.Weight</td>
        </tr>
        <tr>
            <th>Præmiepoint:</th>
            <td>@Model.Rabbit?.Rating</td>
        </tr>
        <tr>
            <th>Ave-kanin:</th>
            <td>@Model.Rabbit?.DeadOrAlive</td>
        </tr>
        <tr>
            <th>Til salg?:</th>
            <td>@Model.Rabbit?.IsForSale</td>
        </tr>
        <tr>
            <th>Egnet til avl?:</th>
            <td>@Model.Rabbit?.SuitableForBreeding</td>
        </tr>
        <tr>
            <th>Døds-årsag:</th>
            <td>@Model.Rabbit?.CauseOfDeath</td>
        </tr>
    </table>
</body>
