@page
@model RabbitRegister.Pages.Main.Rabbit.ViewAllRabbitsModel
@{
}

<h1>Rabbits</h1>

<div class="row">
	<div class="col-7"><h5>Search Name</h5></div>
	<div class="col-4"><h5>Filter Rating</h5></div>
	<div class="col-1"></div>
</div>

<div class="row">
	<div class="col-4">
		<form method="post" class="form-inline">
			<div class="input-group mb-3">
				<input asp-for="SearchString" class="form-control mr-1" placeholder="Enter search term" />
				<input type="submit" asp-page-handler="NameSearch" value="Search" class="btn btn-primary" />
			</div>
		</form>
	</div>

	<p>
		<a class="btn btn-primary" asp-page="CreateRabbit"> Create new Rabbit </a>
	</p>

	<div class="col-3"></div>
	<div class="col-5">
		<form method="post" class="form-inline">
			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<span class="input-group-text">Min</span>
				</div>
				<input asp-for="MinRating" class="form-control me-2" />
				<div class="input-group-prepend">
					<span class="input-group-text">Max</span>
				</div>
				<input asp-for="MaxRating" class="form-control me-2" />
				<input type="submit" asp-page-handler="RatingFilter" value="Filter" class="btn btn-primary" />
			</div>
		</form>
	</div>


</div>

<table class="table table-bordered table-hover table-striped table-opacity" width="60%">
	<colgroup>
		<col style="width : 5%">
		<col style="width : 77%">
		<col style="width : 9%">
		<col style="width : 9%">
	</colgroup>
	<thead>
		<tr class="btn-secondary active">
			<th>
				<div class="d-flex justify-content-between p-0">
					<div><h5>Id </h5></div>
					<div>
						<a data-toggle="tooltip" title="Sort By Id" asp-page-handler="SortById"><i class="fa fa-angle-up"></i></a>
						<a data-toggle="tooltip" title="Sort By Id Descending" asp-page-handler="SortByIdDescending"><i class="fa fa-angle-down"></i></a>
					</div>
				</div>
			</th>
			<th>
				<div class="d-flex justify-content-between p-0">
					<div>
						<h5>Name </h5>
					</div>
					<div>
						<a data-toggle="tooltip" title="Sort By Name" asp-page-handler="SortByName"><i class="fa fa-angle-up"></i></a>
						<a data-toggle="tooltip" title="Sort By Name Descending" asp-page-handler="SortByNameDescending"><i class="fa fa-angle-down"></i></a>
					</div>
				</div>

			</th>
			<th>
				<div class="d-flex justify-content-between p-0">
					<div>
						<h5>Rating </h5>
					</div>
					<div>
						<a data-toggle="tooltip" title="Sort By Rating" asp-page-handler="SortByRating"><i class="fa fa-angle-up"></i></a>
						<a data-toggle="tooltip" title="Sort By Rating Descending" asp-page-handler="SortByRatingDescending"><i class="fa fa-angle-down"></i></a>
					</div>
				</div>
			</th>
			<th>
				<h5>Action</h5>
			</th>
		</tr>
	</thead>
	<tbody>
		@if (Model.Rabbits != null)
		{
			foreach (var rabbit in Model.Rabbits)
			{
				<tr class="btn-secondary">
					<td>
						@rabbit.RabbitRegNo
					</td>
					<td>
						@rabbit.Name
					</td>
					<td>
						@rabbit.Rating
					</td>
					<td>
						<a class="btn btn-primary btn-sm" type="button" title="Edit" asp-page="EditRabbit" asp-route-id="@rabbit.RabbitRegNo"><i class="fa fa-edit"></i></a>
						<a class="btn btn-danger btn-sm " type="button" title="Delete" asp-page="DeleteRabbit" asp-route-id="@rabbit.RabbitRegNo"><i class="fa fa-trash"></i></a>
					</td>
				</tr>
			}
		}
	</tbody>
</table>

