@page
@using RabbitRegister.Model;
@using RabbitRegister.Pages.Main.LogIn
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@model RabbitRegister.Pages.Main.Store.StoreModel
@{
}

<head>
    <!-- Styling reference -->
    <link rel="stylesheet" href="/css/site.css" />
</head>

<body class="w3-auto">
    @*@{
    if ((await AuthorizationService.AuthorizeAsync(User, null, "AdminOnly")).Succeeded)
    {
    <div class="d-flex justify-content-between">
    <div class="d-flex flex-row">
    <div class="p-2 bd-highlight">
    <a class="btn-create btn" asp-page="/Main/Product/CreateWool"> Opret Uld </a>
    </div>
    <div class="p-2 bd-highlight">
    <a class="btn-create btn" asp-page="/Main/Product/CreateYarn"> Opret Garn </a>
    </div>
    </div>
    </div>
    }
    }*@

    <!-- SIDEBAR -->
    <nav class="w3-sidebar w3-round-large w3-bar-block w3-border w3-collapse w3-theme-l5" id="mySidebar">
        <a href="javascript:void(0)" onclick="w3_close()" class="w3-right w3-xlarge w3-padding-large w3-hover-black w3-hide-large" title="Close Menu">
            <i class="fa fa-remove"></i>
        </a>
        <h4 class="w3-bar-item"><b>Filtre</b></h4>
        <a class="w3-bar-item w3-button w3-hover-dark-gray" href="#">Vis garn</a>
        <a class="w3-bar-item w3-button w3-hover-dark-gray" href="#">Vis uld</a>
        <a class="w3-bar-item w3-button w3-hover-dark-gray" href="#"> -- </a>
        <a class="w3-bar-item w3-button w3-hover-dark-gray" href="#"> -- </a>
        <br></br>
    </nav>
    <!-- Overlay effect when opening sidebar on small screens -->
    <div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

    <!-- MAIN CONTENT: Shift content, to the right, by 280 pixels, WHEN the sidebar is visible -->
    <div class="w3-main min-vh-100" style="margin-left:280px">

        <!--  Product tabel on the website -->
        <br></br></br>

        <h2 class="w3-center">Produkter: </h2>

        <!--  Wool Info, price, name... -->
        <div>
            <div class="d-flex flex-wrap flex-row">
                @if (@Model.Wools != null)
                {
                    foreach (var Wool in Model.Wools)
                    {
                        <a asp-page="/Main/Product/ProductInfo" asp-route-id="@Wool.ProductId" asp-route-type="@Wool.ProductType">
                            <div class="card">
                                @if (Wool.ImgString == "/Images/Products/Wool/" || Wool.ImgString == null)
                                {
                                    <img class="card-image" src="\Images\MissingImg.jpg">
                                }
                                else
                                {
                                    <img class="card-image" src="@Wool.ImgString">
                                }
                                <div class="w3-container">
                                    <h6><b>@Wool.ProductName</b></h6>
                                    <p> @Wool.Price </p>
                                    <p> Lager: @Wool.Amount </p>

                                    <form method="post">
                                        <button class="w3-button w3-block w3-ripple alert-success" asp-page-handler="AddToBasketAsync" asp-route-id="@Wool.ProductId" asp-route-type="@Wool.ProductType"><i class="fa fa-cart-plus"></i></button>
                                    </form>
                                </div>
                            </div>
                        </a>
                    }
                }

                @if (@Model.Yarns != null)
                {
                    foreach (var Yarn in Model.Yarns)
                    {
                        <a asp-page="/Main/Product/ProductInfo" asp-route-id="@Yarn.ProductId" asp-route-type="@Yarn.ProductType">
                            <div class="card">
                                @if (Yarn.ImgString == "/Images/Products/Yarn/" || Yarn.ImgString == null)
                                {
                                    <img class="card-image" src="\Images\MissingImg.jpg">
                                }
                                else
                                {
                                    <img class="card-image" src="@Yarn.ImgString">
                                }
                                <div class="w3-container">
                                    <h6><b>@Yarn.ProductName</b></h6>
                                    <p> @Yarn.Price </p>
                                    <p> Lager: @Yarn.Amount </p>

                                    <form method="post">
                                        <button class="w3-button w3-block w3-ripple alert-success" asp-page-handler="AddToBasketAsync" asp-route-id="@Yarn.ProductId" asp-route-type="@Yarn.ProductType"><i class="fa fa-cart-plus"></i></button>
                                    </form>
                                </div>
                            </div>
                        </a>
                    }
                }
            </div>
        </div>
    </div>
    <br />
    <br />
</body>