@page
@using RabbitRegister.Model;
@using RabbitRegister.Pages.Main.LogIn
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@model RabbitRegister.Pages.Main.Store.StoreModel
@{
}

<br>
</br>
</br>


<!--  page menu -->
@{
    if ((await AuthorizationService.AuthorizeAsync(User, null, "AdminOnly")).Succeeded)
    {
        <div class="d-flex justify-content-between">
            <div class="d-flex flex-row">
                <div class="p-2 bd-highlight">
                    <a class="btn-create btn" asp-page="/Main/Product/CreateWool"> Opret Uld </a>
                </div>
                <div class="p-2 bd-highlight">
                    <a class="btn-create btn" asp-page="/Main/Product/CreateYarn"> Opret Garn </a>
                </div>
            </div>
        </div>
    }
}


<!--  Product tabel on the website -->
<h2 class="text-center">Produkter</h2>

<br />

<body>
    <!--  Wool Info, price, name... -->
    <div>
        <div style="width: 100%" class="d-flex flex-wrap flex-row justify-content-center">
            @if (@Model.Wools != null)
            {
                foreach (var Wool in Model.Wools)
                {
                    <a class="click-card flex-item" asp-page="/Main/Product/ProductInfo" asp-route-id="@Wool.ProductId" asp-route-type="@Wool.ProductType">
                        <div class="p-2-card text-center container rounded border border-dark" style="width: 100%;">
                            @if (Wool.ImgString == "/Images/Products/Yarn/" || Wool.ImgString == null)
                            {
                                <img class="card-image" src="\Images\MissingImg.jpg">
                            }
                            else
                            {
                                <img class="card-image" src="@Wool.ImgString">
                            }
                            <p class="text-card font-monospace"> Navn: @Wool.ProductName </p>
                            <p class="text-card font-monospace"> Pris: @Wool.Price kr </p>
                            <p class="text-card font-monospace"> Beholdning: @Wool.Amount</p>
                            <div class="d-flex flex-wrap justify-content-center" style="margin-bottom: 5px; margin-top: 0px;">
                                <form method="post">
                                    <div>
                                        <button class="btn-card btn alert-success btn-sm" asp-page-handler="AddToBasketAsync" asp-route-id="@Wool.ProductId" asp-route-type="@Wool.ProductType"><i class="fa fa-cart-plus"></i></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </a>
                }
            }
            @if (Model.Yarns != null)
            {
                foreach (var Yarn in Model.Yarns)
                {
                    <a class="click-card flex-item" asp-page="/Main/Product/ProductInfo" asp-route-id="@Yarn.ProductId" asp-route-type="@Yarn.ProductType">
                        <div class="p-2-card text-center container rounded border-dark">
                            @if (Yarn.ImgString == "/Images/Products/Yarn/" || Yarn.ImgString == null)
                            {
                                <img class="card-image" src="\Images\MissingImg.jpg">
                            }
                            else
                            {
                                <img class="card-image" src="@Yarn.ImgString">
                            }
                            <p class="text-card font-monospace"> Navn: @Yarn.ProductName </p>
                            <p class="text-card font-monospace"> Pris: @Yarn.Price kr </p>
                            <p class="text-card font-monospace"> Beholdning: @Yarn.Amount</p>
                            <div class="card-buttons d-flex flex-wrap justify-content-center" style="margin-bottom: 5px; margin-top: 0px;">
                                <form method="post">
                                    <div>
                                        <button class="btn-card btn alert-success btn-sm" asp-page-handler="AddToBasketAsync" asp-route-id="@Yarn.ProductId" asp-route-type="@Yarn.ProductType"><i class="fa fa-cart-plus"></i></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </a>
                }
            }
        </div>
    </div>
    <br />
    <br />
</body>
